@import compass/css3

html
  font-size: 18px
  font-family: 'Noto Sans', 'Noto Sans T Chinese', '微軟正黑體', sans-serif
  color: #333

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4
  margin: 0
  padding: 0
  line-height: 1em
  +box-sizing(border-box)

p
  line-height: 1.5em

a, a:link
  text-decoration: none
  color: inherit

.hidden
  display: none

.no.margin
  margin: 0

.float.right
  float: right

.align.center
  text-align: center

#sidebar
  width: 20rem
  position: absolute
  top: 0
  bottom: 0
  left: 0
  #search
    padding: 0.5rem
    .input
      width: 100%
  #index
    position: absolute
    top: 6rem
    bottom: 0
    left: 0
    right: 0
    overflow-y: auto
    overflow-x: hidden

#projects, #about
  background-color: #efefef
  position: absolute
  left: 20rem
  top: 0
  right: 0
  bottom: 0
  overflow-y: auto
  overflow-x: hidden
  +box-shadow(0 0 1px rgba(#000,0.5))
#projects
  #filter
    padding: 0.5rem
    min-height: 3rem
    border-bottom: 1px #ccc solid
    .ui.label
      margin: 0.2rem
  #count
    padding-right: 1rem
    color: rgba(#000,0.5)
    text-align: right
  #list
    padding: 1rem
    .column
      .image
        float: left
        width: 10rem
        height: 10rem
        +border-radius(0.5rem)
        margin: 0 1rem 0 0
        img
          width: 100%
      .ui.label
        margin: 0.2rem
#about
  display: none
  padding: 2em
  p
    line-height: 2em
  a:link
    padding: 0.2em 0.5em
    +border-radius(0.5em)
    background-color: rgba(#000, 0.05)
