extends _template

block head

block title

block body

  nav#sidebar
    .ui.menu.no.margin
      .ui.dropdown.item Project Hub
        i.icon.dropdown
        .menu
          a.item Resource Hub
          a.item Project Hub
          a.item Charts
      .right.menu
        .ui.dropdown.icon.item
          i.icon.ellipsis.vertical
          .menu
            //-.item
              i.icon.add
              | Submit a project
            .item
              i.icon.pencil
              | Edit pending data
            .item
              i.icon.help
              | About
    #search.field
      .ui.icon.input
        input(placeholder="search...", type="text")
        i.icon.search
    #index.ui.vertical.fluid.menu.no.margin
      #category.ui.accordion
        .title.header.item.active category
          i.icon.dropdown
        .content.ui.small.menu.active
          .menu
      #type.ui.accordion
        .title.header.item type
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      #phase.ui.accordion
        .title.header.item phase
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      #license.ui.accordion
        .title.header.item license
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      #tool.ui.accordion
        .title.header.item tool
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      //-#tag.ui.accordion
        .title.header.item tag
          i.icon.dropdown
        .content.ui.small.menu
          .menu

  section#projects.views
    #filter
    #count
    #list.ui.two.column.stackable.grid
  section#about.views
    .ui.header.align.center g0v.tw Project Pilot
    .ui.divider
    p.align.center
      a(href="https://github.com/g0v/project-hub-mockup", target="_blank") The source code is on github here.
        i.icon.forward.mail
    p.align.center
      a(href="https://github.com/g0v/project-hub-mockup/blob/master/livescripts/project-list.ls", target="_blank") To complete the data, please edit this .ls file,
        i.icon.forward.mail
    p.align.center
      a(href="https://g0v.hackpad.com/g0v-project-hub--l1W5Cw53OyI", target="_blank") or add data to this hackpad.
        i.icon.forward.mail
    p.align.center
      a(href="https://github.com/g0v/project-hub-mockup/blob/gh-pages/json/project-list.json", target="_blank") and I will convert / merge new data to this .json file.
        i.icon.forward.mail
    p.align.center
      a(href="http://g0v.github.io/project-hub-mockup/", target="_blank") And this webpage will be updated after deploying.
        i.icon.forward.mail
    p.align.center
      a(href="https://github.com/g0v/project-hub-mockup/issues", target="_blank") If you are familiar with javascript, please help me with these issues.
        i.icon.forward.mail
    p.align.center
      a(href="https://g0v.hackpad.com/hQ9RdcSw7Gd", target="_blank") For more info, please check out this hackpad
        i.icon.forward.mail
    p.align.center We can discuss this project on irc.freenode.net#g0v.tw
      br
      | (mention ipa, jimyhuang, Lee1092, a0000778, ETBlue)
  //-section#submit.views
    .ui.header.align.center Submit a g0v Project
    .ui.divider
    form.ui.warning.form
      .two.fields
        .field
          label 專案中文名稱
          .ui.input
            input(name="name-zh",required)
            .ui.corner.label
              i.icon.asterisk
        .field
          label Project Name in English
          .ui.input
            input(name="name-en")
      .two.fields
        .field
          label 專案簡介
          .ui.input
            textarea(name="intro-zh-short",required)
            .ui.corner.label
              i.icon.asterisk
        .field
          label Project Summary in English
          .ui.input
            textarea(name="intro-en-short")
      .two.fields
        .field
          label 授權
          .ui.input
            input(placeholder="e.g. CC0, MIT",name="license",required)
            .ui.corner.label
              i.icon.asterisk
          .description
            i.icon.hand.up
            | 若同時有多種授權，以半形逗號隔開
        .field
          label 專案分類
          .ui.selection.dropdown
            input(name="category", type="hidden", value="開放政府")
            .default.text 其他
            i.icon.dropdown
            .menu.ui.transition.hidden
              .item(data-value="開放政府") 開放政府
              .item(data-value="開放資料") 開放資料
              .item(data-value="社會參與") 社會參與
              .item(data-value="政策共筆") 政策共筆
              .item(data-value="新媒體") 新媒體
              .item(data-value="g0v基礎建設") g0v基礎建設
              .item(data-value="其他") 其他
      .ui.horizontal.divider 現有成果
      #achievements
        .inline.fields
          .field
            label 網址
            .ui.left.labeled.icon.input
              input(placeholder="http://",type="url",name="achievement-0-url",required)
              i.icon.url
              .ui.corner.label
                i.icon.asterisk
          .field
            label 類型
            .ui.selection.dropdown
              input(name="achievement-0-type", type="hidden", value="web")
              .default.text website
              i.icon.dropdown
              .menu.ui.transition.hidden
                .item(data-value="web") website
                .item(data-value="android") Android app
                .item(data-value="ios") iOS app
                .item(data-value="wp") Windows Phone app
                .item(data-value="firefoxos") Firefox OS
                .item(data-value="linux") Linux software
                .item(data-value="mac") Mac software
                .item(data-value="windows") Windows software
                .item(data-value="chrome") Chrome extension
                .item(data-value="firefox") Firefox extension
                .item(data-value="safari") Safari extension
                .item(data-value="api") application interface (api)
                .item(data-value="document") document
                .item(data-value="miscellaneous") miscellaneous
          .field
            label 開發階段
            .ui.selection.dropdown
              input(name="achievement-0-phase", type="hidden", value="idea")
              .default.text idea
              i.icon.dropdown
              .menu.ui.transition.hidden
                .item(data-value="idea") idea
                .item(data-value="plan") plan
                .item(data-value="wireframe") wireframe
                .item(data-value="mockup") mockup
                .item(data-value="prototype") prototype
                .item(data-value="alpha") alpha
                .item(data-value="beta") beta
                .item(data-value="production") production
                .item(data-value="memory") memory
                .item(data-value="miscellaneous") miscellaneous
      #add-achievement.ui.button 新增一筆
      .ui.horizontal.divider 工作區
      #workspaces
        .inline.fields
          .field
            label 網址
            .ui.left.labeled.icon.input
              input(placeholder="http://",type="url",name="workspace-0-url",required)
              i.icon.url
              .ui.corner.label
                i.icon.asterisk
          .field
            label 類型
            .ui.selection.dropdown
              input(name="workspace-0-type", type="hidden", value="github")
              .default.text github
              i.icon.dropdown
              .menu.ui.transition.hidden
                .item(data-value="hackpad") hackpad
                .item(data-value="hackfoldr") hackfoldr
                .item(data-value="github") github
                .item(data-value="drive") google drive
                .item(data-value="groups") google groups
                .item(data-value="plus") google plus community
                .item(data-value="calendar") google calendar
                .item(data-value="facebook") facebook group
                .item(data-value="irc") irc channel
                .item(data-value="miscellaneous") miscellaneous
      #add-workspace.ui.button 新增一筆
      .ui.horizontal.divider 以下選填
      .field
        label 使用工具
        .ui.input
          input(name="tool", placeholder="e.g. moqups, illustrator, photoshop, garageband, sass, jade, semantic ui, fire.app, gulp, jquery, underscore js, handlebar js, angular js, react js, rails, django, travis ci, ")
        .description
          i.icon.hand.up
          | 以半形逗號隔開
      .two.fields
        .field
          label 專案 logo 圖檔網址
          .ui.left.labeled.icon.input
            input(placeholder="http://",type="url",name="logo")
            i.icon.url
          .description
            i.icon.hand.up
            | 若不填，會自動以網頁抓圖代替
        .field
          label 專案首頁網址
          .ui.left.labeled.icon.input
            input(placeholder="http://",type="url",name="homepage")
            i.icon.url
          .description
            i.icon.hand.up
            | 若不填，會自動以第一個成果網址代替
      .two.fields
        .field
          label 標籤
          .ui.input
            input(name="tag")
          .description
            i.icon.hand.up
            | 以半形逗號隔開
        .field
          label 相關專案
          .ui.input
            input(name="related")
          .description
            i.icon.hand.up
            | 以半形逗號隔開
      #submit-project.ui.submit.right.icon.labeled.button.green submit project
        i.icon.add

  //-section#edit.views
    iframe#iframe(src="")

  section#wiki.views
    iframe#iframe(src="")

block script
  script.

    $(document).ready(function(){

      // step 0: setup

      var attribute_template_source ='<a class="item" name="{{attribute_id}}"><div class="ui label">{{count}}</div>{{attribute_text}}</a>';
      var attribute_template = Handlebars.compile(attribute_template_source);

      var filter_template_source = '<div class="ui large label" name="{{attribute_id}}">{{attribute_text}}<i class="icon delete"></i></div>';
      var filter_template = Handlebars.compile(filter_template_source);

      var list_template_source ='<article class="column project" id="{{id}}"><div class="wrapper"><a href="{{homepage}}" target="_blank" class="ui image"><img src="{{logo}}"></a><div class="content"><h3 class="ui header"><span class="text">{{name}}</span></h3><p class="description">{{intro}}</p><p class="achievement"></p></div><div class="ui large modal project" name="{{id}}"><a href="{{homepage}}" target="_blank" class="ui image"><img src="{{logo}}"></a><h3 class="ui header">{{name}}</h3><p class="description">{{intro}}</p><p class="achievement"></p><div class="ui divider clear both"></div><div class="ui two column stackable grid"><div class="column"><div class="ui grid"><div class="row"><div class="column four wide">專案分類</div><div class="column twelve wide category"></div></div><div class="row"><div class="column four wide">標籤</div><div class="column twelve wide tag"></div></div><div class="row"><div class="column four wide">介紹</div><div class="column twelve wide story"></div></div><div class="row"><div class="column four wide">相關專案</div><div class="column twelve wide related"></div></div></div></div><div class="column"><div class="ui grid"><div class="row"><div class="column four wide">授權</div><div class="column twelve wide license"></div></div><div class="row"><div class="column four wide">使用工具</div><div class="column twelve wide tool"></div></div><div class="row"><div class="column four wide">資料來源</div><div class="column twelve wide resource"></div></div><div class="row"><div class="column four wide">工作區</div><div class="column twelve wide workspace"></div></div></div></div></div></div></div><div class="hidden text">{{content}}</div></article>';
      var list_template = Handlebars.compile(list_template_source);

      var achievement_template_source = '<a href="{{url}}" target="_blank" class="ui large label"><i class="icon {{icon}}"></i>{{type}}{{phase}}<i class="icon forward mail"></i></a>';
      var achievement_template = Handlebars.compile(achievement_template_source);

      var workspace_template_source = '<a href="{{url}}" target="_blank" class="ui large label"><i class="icon {{icon}}"></i>{{type}}{{name}}<i class="icon forward mail"></i></a>';
      var workspace_template = Handlebars.compile(workspace_template_source);

      var resource_template_source = '<a href="{{url}}" target="_blank" class="ui large label">{{name}}{{type}}<i class="icon forward mail"></i></a>';
      var resource_template = Handlebars.compile(resource_template_source);

      var story_template_source = '<a href="{{url}}" target="_blank" class="ui large label">{{title}}<i class="icon forward mail"></i></a>';
      var story_template = Handlebars.compile(story_template_source);

      var related_template_source = '<a href="#" class="ui large label">{{name}}<i class="icon exchange"></i></a>';
      var related_template = Handlebars.compile(related_template_source);

      var label_template_source = '<a class="ui large label">{{name}}</a>';
      var label_template = Handlebars.compile(label_template_source);

      var menus = {
        category : [],
        type : [],
        phase : [],
        license : [],
        tool : [],
        //tag : [],
      };
      //var menus = {
      //  category : ["open government", "open data", "civil participation", "media 2.0", "g0v infrastructure", "policy wiki", "miscellaneous"],
      //  type : ["website", "android app", "ios app", "windows phone app", "linux software", "mac software", "windows software", "chrome extension", "firefox extension", "api", "document", "miscellaneous"],
      //  phase : ["idea", "plan", "wireframe", "mockup", "prototype", "alpha", "beta", "production", "maintenance", "memory", "miscellaneous"],
      //  license : ["CC0", "CC-By", "CC-By-NC", "CC-By-ND", "CC-By-SA", "CC-By-NC-SA", "CC-By-NC-ND", "Apache", "BSD", "GPL", "LGPL", "MIT", "miscellaneous"],
      //  tool : [],
      //  tag : [],
      //};

      //var current_view = location.pathname.split('/')[1] || "";
      var current_view = location.pathname.split('/')[2] || "";
      var update_view = function(current_url){
        $(".views").fadeOut();
        $("#"+current_url).fadeIn();
      };
      var update_url = function(current_view){
        //history.pushState( {}, current_view + '| g0v project hub mockup', '/' + current_view );
        history.pushState( {}, current_view + '| g0v project hub mockup', '/project-hub-mockup/' + current_view );
      };
      //$.each( ["submit", "edit", "about"], function(view_index, view_value){
      $.each( ["wiki", "about"], function(view_index, view_value){
        if(current_view == view_value){
          update_view(view_value);
          update_url(view_value);
        }
      });

      var render_attributes = function(target_menu_name, attributes){
        $.each(attributes, function(attribute_index, attribute){
          var attribute_id = target_menu_name + "-" + attribute_index;
          var attribute_text = attribute;
          var count = $("#list ." + attribute_id).length;
          var context = {attribute_id: attribute_id, attribute_text: attribute_text, count: count};
          var $attribute_element = $(attribute_template(context));
          var $filter_element = $(filter_template(context));
          $("#" + target_menu_name + " .content .menu").append($attribute_element);
          $("#filter").append($filter_element);
        });
        var menu_items_count = $("#" + target_menu_name + " .content .menu .item").length;
        $("#" + target_menu_name + " .title").append(" (" + menu_items_count + ")");
      }

      // step 1: get data and render projects

      $.getJSON("json/project-list.json", function(projects){

        $.each(projects, function(project_index, project){
          var id = project.id || project_index;
          var homepage = project.homepage || "";
          var logo = project.logo || "";
          var name = project.name.zh || "";
          var intro = project.intro.zh.short || "";
          var content = JSON.stringify(project) || "";

          var classes = [];
          var add_classes = function(attribute_type){
            $.each(project[attribute_type], function(index, attribute){
              if( !_.contains(menus[attribute_type], attribute)){
                menus[attribute_type].push(attribute);
              }
              var attribute_id = attribute_type + "-" + menus[attribute_type].indexOf(attribute);
              classes.push(attribute_id);
            });
          };
          var add_sub_classes =  function(attribute_type, attribute){
            if( !_.contains(menus[attribute_type], attribute)){
              menus[attribute_type].push(attribute);
            }
            var attribute_id = attribute_type + "-" + menus[attribute_type].indexOf(attribute);
            if( !_.contains(classes, attribute_id) ){
              classes.push(attribute_id);
            };
          };
          add_classes("category");
          //add_classes("tag");
          add_classes("tool");
          add_classes("license");

          if(homepage.length == 0){
            homepage = project.achievement[0].url;
          };
          if(logo.length == 0){
            logo = "http://i.jimmyhub.net/shot/" + homepage;
          };

          var context = {id: id, homepage: homepage, logo: logo, name: name, intro: intro, content: content};
          var $list_element = $(list_template(context));

          var add_labels = function(label_type, data_array){
            $.each(data_array, function(array_index, array_value){
              var context = {name: array_value};
              var $label_element = $(label_template(context));
              $list_element.find("."+label_type).append($label_element);
            });
          };
          add_labels("category", project.category);
          add_labels("tag", project.tag);
          add_labels("tool", project.tool);
          add_labels("license", project.license);

          $.each(project.story, function(story_index, story){
            var story_title = story.title;
            var story_url = story.url;
            var context = {title: story_title, url: story_url};
            var $story_element = $(story_template(context));
            $list_element.find(".story").append($story_element);
          });
          $.each(project.related, function(related_index, related){
            var related_name = related;
            var context = {name: related_name};
            var $related_element = $(related_template(context));
            $list_element.find(".related").append($related_element);
          });
          $.each(project.resource, function(resource_index, resource){
            if(resource.type){
              var resource_type = " (" + resource.type + ")";
            }else{
              var resource_type = "";
            }
            var resource_name = resource.name;
            var resource_url = resource.url;
            var context = {type: resource_type, url: resource_url, name: resource_name};
            var $resource_element = $(resource_template(context));
            $list_element.find(".resource").append($resource_element);
          });
          $.each(project.workspace, function(workspace_index, workspace){
            if(workspace.name){
              var workspace_name = " - " + workspace.name;
            }else{
              var workspace_name = "";
            }
            var workspace_url = workspace.url;
            var workspace_type = workspace.type;
            $.each({"^.*.hackpad.com\/":"Hackpad", "^.*.hackfoldr.org\/":"Hackfoldr", "^.*.hack.g0v.tw\/":"Hackfoldr", "^.*.github.com\/":"Github", "^.*.facebook.com\/":"Facebook", "^.*.plus.google.com\/":"Google plus", "^.*.drive.google.com\/":"Google drive", "^.*.groups.google.com\/":"Google groups"}, function(workspace_url_string, workspace_value){
              if(workspace_url.match(RegExp(workspace_url_string))){
                workspace_type = workspace_value;
              }
            });
            var workspace_icon = "";
            $.each({"Hackpad":"file", "Hackfoldr":"folder", "Github":"github", "Google groups":"mail", "Google drive":"cloud", "Google plus":"google plus", "Facebook":"facebook", "IRC":"chat", "Google calendar":"calendar"}, function(type_name, type_icon){
              if(workspace_type == type_name){
                workspace_icon = type_icon;
              }
            });
            var context = {type: workspace_type, url: workspace_url, icon: workspace_icon, name: workspace_name};
            var $workspace_element = $(workspace_template(context));
            $list_element.find(".workspace").append($workspace_element);
          });
          $.each(project.achievement, function(achievement_index, achievement){
            var achievement_type = achievement.type || "unknown";
            var achievement_phase = achievement.phase;
            var achievement_phase_display = "";
            var achievement_url = achievement.url;
            var achievement_icon = "";
            if(!achievement_phase){
              achievement_phase = "unknown";
            }else if(achievement_phase != "Production"){
              achievement_phase_display = " (" + achievement_phase + ")";
              };
            $.each({"Android": "android", "iOS": "apple", "WP": "windows", "Firefox OS": "mobile", "Linux": "linux", "Mac": "apple", "Windows": "windows", "Firefox": "browser", "Chrome": "browser", "Safari": "browser", "Web": "", "API": "setting", "Document": "text file", "Media": "bullhorn", "Miscellaneous": ""}, function(type_name, type_icon){
              if(achievement_type == type_name){
                achievement_icon = type_icon;
              }
            });
            var context = {type: achievement_type, phase: achievement_phase_display, url: achievement_url, icon: achievement_icon};
            var $achievement_element = $(achievement_template(context));
            $list_element.find(".achievement").append($achievement_element);
            add_sub_classes("type", achievement_type);
            add_sub_classes("phase", achievement_phase);
          });

          $.each(classes, function(class_index, class_name){
            $list_element.addClass(class_name);menus
          });

          $("#list").append($list_element);

        });
      }).done(function(){

        // step 2-0 sort projects

        $("#list>.project").sort(function(a, b){
          return $(a).find(".header>.text").text().localeCompare($(b).find(".header>.text").text());
        }).appendTo("#list");

        // step 2-1: detect modals

        var current_project = _.last( document.URL.split('/') );
        if(current_project.match(/^#/)){
          var active_modal_name = current_project.replace("#","");
          var active_project_position = $("#" + active_modal_name).offset().top;
          $(".ui.modal").filter("[name='" + active_modal_name + "']").modal("setting", {duration: 0}).modal("show");
          $("#projects").animate({
             scrollTop: active_project_position
          });
        }

        // step 2-2: render sidebar menu and filter labels

        $.each(menus, function(menu_id, menu_items){
          render_attributes(menu_id, menu_items);
        });

      }).done(function(){

        // step 3-1: sort sidebar menu items

        $.each(menus, function(menu_id, menu_items){
          $("#index #"+menu_id+" .content .menu .item").sort(function(a, b){
            return parseInt($(a).find(".label").text(), 10) < parseInt($(b).find(".label").text(), 10);
          }).appendTo("#index #"+menu_id+" .content .menu");
        });

        // step 3-2: start filtering rendered projects

        // for ux
        $("#filter .ui.label").hide();

        // for projects filter
        var initialize_pilot = function(){
          var all_projects_count = $("#list>.column").length;
          var active_classes = [];
          var active_classes_string = "";
          var active_classes_count = "";
          var target_attribute = "";
          var reset_filter = function(){
            active_classes = [];
            active_classes_string = "";
            active_classes_count = "";
            target_attribute = "";
            $("#filter .ui.label").fadeOut();
            $("#index .content .item").removeClass("active");
          }
          var toggle_filtered_projects = function(){
            if( _.contains( active_classes, target_attribute )){
              active_classes = _.without(active_classes, target_attribute);
            }else{
              active_classes.push(target_attribute);
            };
            active_classes_string = "";
            _.each(active_classes, function(css_class){
              active_classes_string = active_classes_string + "." + css_class;
            });
            $("#list .column").fadeOut();
            $("#list .column" + active_classes_string ).fadeIn();
          };
          var count_filtered_projects = function(){
            active_classes_count = $("#list").find(active_classes_string).length;
            if(active_classes_string.length > 0){
              $("#count").text("showing " + active_classes_count + " out of " + all_projects_count +" projects");
            }else{
              $("#count").text(all_projects_count + " projects");
            }
          }
          $("#count").text(all_projects_count + " projects");
          $("#index .content .item").on("click tap", function(){
            $(this).toggleClass("active");
            target_attribute = $(this).attr("name");
            $("#filter .ui.label").filter("[name='" + target_attribute + "']").fadeToggle();
            toggle_filtered_projects();
            count_filtered_projects();
          });
          $("#filter .ui.label .delete.icon").on("click tap", function(){
            $(this).parent().fadeOut();
            target_attribute = $(this).parent().attr("name");
            $("#index .content .item").filter("[name='" + target_attribute + "']").removeClass("active");
            toggle_filtered_projects();
            count_filtered_projects();
          });

          var active_content_string = "";
          var active_content_count = 0;
          var count_searched_projects = function(){
            active_content_count = $("#list .column:contains("+active_content_string+")").length;
            if( active_content_count < all_projects_count ){
              $("#count").text("showing " + active_content_count + " out of " + all_projects_count +" projects");
            }else{
              $("#count").text(all_projects_count + " projects");
            }
          };
          // override jquery selector...
          jQuery.expr[':'].contains = function(a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
          };
          // ... and use it in search
          $("#search input").keyup(function(){
            active_content_string = $(this).val();
            $("#list .column").hide();
            $("#list .column:contains(" + active_content_string + ")").fadeIn();
            count_searched_projects();
            reset_filter();
          });
        };
        initialize_pilot();

      }).done(function(){

        // step 4: start other interactions

        // for semantic ui
        $(".ui.dropdown").dropdown();
        $(".ui.accordion").accordion();

        // change views
        $("#sidebar .menu .help").parent(".item").on("click tap", function(){
          update_view("about");
          update_url("about");
        });
        //$("#sidebar .menu .add").parent(".item").on("click tap", function(){
        //  update_view("submit");
        //  update_url("submit");
        //});
        //$("#sidebar .menu .pencil").parent(".item").on("click tap", function(){
        //  update_view("edit");
        //  update_url("edit");
        //});
        $("#sidebar .menu .pencil").parent(".item").on("click tap", function(){
          update_view("wiki");
          update_url("wiki");
        });
        $("#index").on("click tap", function(){
          $("#projects").show();
          $("#about, #wiki").fadeOut();
          //$("#about, #submit, #edit, #wiki").fadeOut();
          //update_view("projects");
          update_url("");
        });

        $("#list .column .header .text").on("click tap", function(){
          var active_modal_name = $(this).parents(".column").attr("id");
          $(".ui.modal").filter("[name='" + active_modal_name +"']").modal("setting", {duration: 200}).modal("show");
          update_url("#" + active_modal_name);
        });
        $(".ui.modal").modal("setting", {
          onHide: function(){
            update_url("");
          }
        });

        // initiate submit form - add achievement / add workspace
        //var achievement_template_source = '<div class="inline fields added"><div class="field"><label>網址</label><div class="ui left labeled icon input"><input placeholder="http://" type="url" name="achievement-{{number}}-url"><i class="icon url"></i><div class="ui corner label"><i class="icon asterisk"></i></div></div></div><div class="field"><label>類型</label><div class="ui selection dropdown"><input name="achievement-{{number}}-type" type="hidden" value="web"><div class="default text">website</div><i class="icon dropdown"></i><div class="menu ui transition hidden"><div data-value="web" class="item">website</div><div data-value="android" class="item">Android app</div><div data-value="ios" class="item">iOS app</div><div data-value="wp" class="item">Windows Phone app</div><div data-value="firefoxos" class="item">Firefox OS</div><div data-value="linux" class="item">Linux software</div><div data-value="mac" class="item">Mac software</div><div data-value="windows" class="item">Windows software</div><div data-value="chrome" class="item">Chrome extension</div><div data-value="firefox" class="item">Firefox extension</div><div data-value="safari" class="item">Safari extension</div><div data-value="api" class="item">application interface (api)</div><div data-value="document" class="item">document</div><div data-value="miscellaneous" class="item">miscellaneous</div></div></div></div><div class="field"><label>開發階段</label><div class="ui selection dropdown"><input name="achievement-{{number}}-phase" type="hidden" value="idea"><div class="default text">idea</div><i class="icon dropdown"></i><div class="menu ui transition hidden"><div data-value="idea" class="item">idea</div><div data-value="plan" class="item">plan</div><div data-value="wireframe" class="item">wireframe</div><div data-value="mockup" class="item">mockup</div><div data-value="prototype" class="item">prototype</div><div data-value="alpha" class="item">alpha</div><div data-value="beta" class="item">beta</div><div data-value="production" class="item">production</div><div data-value="memory" class="item">memory</div><div data-value="miscellaneous" class="item">miscellaneous</div></div></div></div></div>';
        //var achievement_template = Handlebars.compile(achievement_template_source);
        //var latest_achievement_index = 0;
        //$("#add-achievement").on("click tap", function(){
        //  latest_achievement_index += 1;
        //  var context = {number: latest_achievement_index.toString()};
        //  var $achievement_element = $(achievement_template(context));
        //  $("#achievements").append($achievement_element);
        //  $(".ui.dropdown").dropdown();
        //});
        //var workspace_template_source = '<div class="inline fields added"><div class="field"><label>網址</label><div class="ui left labeled icon input"><input placeholder="http://" type="url" name="workspace-{{number}}-url"><i class="icon url"></i><div class="ui corner label"><i class="icon asterisk"></i></div></div></div><div class="field"><label>類型</label><div class="ui selection dropdown"><input name="workspace-{{number}}-type" type="hidden" value="github"><div class="text">github</div><i class="icon dropdown"></i><div class="menu ui transition hidden"><div data-value="hackpad" class="item">hackpad</div><div data-value="hackfoldr" class="item">hackfoldr</div><div data-value="github" class="item active">github</div><div data-value="drive" class="item">google drive</div><div data-value="groups" class="item">google groups</div><div data-value="plus" class="item">google plus community</div><div data-value="calendar" class="item">google calendar</div><div data-value="facebook" class="item">facebook group</div><div data-value="irc" class="item">irc channel</div><div data-value="miscellaneous" class="item">miscellaneous</div></div></div></div></div>';
        //var workspace_template = Handlebars.compile(workspace_template_source);
        //var latest_workspace_index = 0;
        //$("#add-workspace").on("click tap", function(){
        //  latest_workspace_index += 1;
        //  var context = {number: latest_workspace_index.toString()};
        //  var $workspace_element = $(workspace_template(context));
        //  $("#workspaces").append($workspace_element);
        //  $(".ui.dropdown").dropdown();
        //});

        // initiate submit form - validation and post
        //var form_status = false;
        //var post_ethercalc = function(new_project_row){
        //  $.ajax({
        //    url: "https://ethercalc.org/_/g0v-project-hub-mockup",
        //    type: 'POST',
        //    contentType: 'text/csv',
        //    processData: false,
        //    data: new_project_row,
        //    success: function(){
        //      $("input, textarea").val("");
        //      $(".added").remove();
        //      update_view("edit");
        //      update_url("edit");
        //    }
        //  });
        //};
        //$('.ui.form').form(
        //  {
        //    name: {
        //      identifier: 'name-zh',
        //      rules: [
        //        {
        //          type: 'empty'
        //        }
        //      ]
        //    },
        //    intro: {
        //      identifier: 'intro-zh-short',
        //      rules: [
        //        {
        //          type: 'empty'
        //        }
        //      ]
        //    },
        //    license: {
        //      identifier: 'license',
        //      rules: [
        //        {
        //          type: 'empty'
        //        }
        //      ]
        //    },
        //    achievement: {
        //      identifier: 'achievement-0-url',
        //      rules: [
        //        {
        //          type: 'url'
        //        }
        //      ]
        //    },
        //    workspace: {
        //      identifier: 'workspace-0-url',
        //      rules: [
        //        {
        //          type: 'url'
        //        }
        //      ]
        //    },
        //  },
        //  {
        //    onSuccess: function(){form_status = true;},
        //    onFailure: function(){form_status = false;}
        //  }
        //);
        //$('.ui.form').submit(function(e){
        //  if(form_status){
        //    var submit_data = {};
        //    var submit_data_string = ['id'];
        //    submit_data.name = {};
        //    submit_data.name.zh = $("[name='name-zh']").val();
        //    submit_data.name.en = $("[name='name-en']").val();
        //    submit_data.intro = {};
        //    submit_data.intro.zh = {};
        //    submit_data.intro.en = {};
        //    submit_data.intro.zh.short = $("[name='intro-zh-short']").val();
        //    submit_data.intro.en.short = $("[name='intro-en-short']").val();
        //    submit_data.license = $("[name='license']").val();
        //    submit_data.category = $("[name='category']").val();
        //    submit_data.achievement = [];
        //    for(var i = 0; i < latest_achievement_index+1; i++){
        //      submit_data.achievement[i] = {};
        //      submit_data.achievement[i].url = $("[name='achievement-"+i+"-url']").val();
        //      submit_data.achievement[i].type = $("[name='achievement-"+i+"-type']").val();
        //      submit_data.achievement[i].phase = $("[name='achievement-"+i+"-phase']").val();
        //    };
        //    submit_data.workspace = [];
        //    for(var i = 0; i < latest_workspace_index+1; i++){
        //      submit_data.workspace[i] = {};
        //      submit_data.workspace[i].url = $("[name='workspace-"+i+"-url']").val();
        //      submit_data.workspace[i].type = $("[name='workspace-"+i+"-type']").val();
        //    };
        //    submit_data.tool = $("[name='tool']").val();
        //    submit_data.logo = $("[name='logo']").val();
        //    submit_data.homepage = $("[name='homepage']").val();
        //    submit_data.tag = $("[name='tag']").val();
        //    submit_data.related = $("[name='related']").val();
        //    $.each(submit_data, function(key, data){
        //      submit_data_string.push('"' + JSON.stringify(data).replace(/"/g, '""') + '"');
        //    });
        //    post_ethercalc(submit_data_string.join(','));
        //  };
        //  return false;
        //  //e.preventDefault();
        //});

        // TODO: sort menu items

      }).done(function(){
        $("#iframe").attr("src","https://g0v.hackpad.com/g0v-project-hub--l1W5Cw53OyI");
        //$("#iframe").attr("src","https://ethercalc.org/g0v-project-hub-mockup");
      });

      // TODO: login and join projects
      var roles = ["research", "planning", "ui", "visual", "art", "web frontend", "web backend", "ios", "android", "mac", "linux", "windows", "txt", "consult", "miscellaneous"];

    });
