extends _template

block head

block title

block body

  nav#sidebar
    .ui.menu.no.margin
      a.item g0v projects pilot
      .right.menu
        a.icon.item
          i.icon.help
    .field#search
      .ui.icon.input
        input(placeholder="search...", type="text")
        i.icon.search
    .ui.vertical.fluid.menu.no.margin#index
      .ui.accordion#categories
        .title.header.item.active categories
          i.icon.dropdown
        .content.ui.small.menu.active
          .menu
      .ui.accordion#types
        .title.header.item types
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      .ui.accordion#phases
        .title.header.item phases
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      .ui.accordion#licenses
        .title.header.item licenses
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      .ui.accordion#tools
        .title.header.item tools
          i.icon.dropdown
        .content.ui.small.menu
          .menu
      .ui.accordion#tags
        .title.header.item tags
          i.icon.dropdown
        .content.ui.small.menu
          .menu


block script
  script.

    $(document).ready(function(){

      var categories = ["open government", "open data", "civil participation", "media 2.0", "g0v infrastructure", "policy wiki", "miscellaneous"];
      var types = ["website", "android app", "ios app", "windows phone app", "linux software", "mac software", "windows software", "chrome extension", "firefox extension", "api", "document", "miscellaneous"];
      var phases = ["idea", "plan", "wireframe", "mockup", "prototype", "pre-alpha", "alpha", "beta", "production", "maintenance", "miscellaneous"];
      var licenses = ["CC0", "CC-By", "CC-By-NC", "CC-By-ND", "CC-By-SA", "CC-By-NC-SA", "CC-By-NC-ND", "Apache", "BSD", "GPL", "LGPL", "MIT", "miscellaneous"];
      var tools = [];
      var tags = [];
      var workspaces = ["hackpad", "hackfoldr", "google drive", "google groups", "google plus community", "facebook community", "irc channel", "github", "google calendar", "facebook group", "miscellaneous"];
      var roles = ["research", "planning", "ui", "visual", "art", "web frontend", "web backend", "ios", "android", "mac", "linux", "windows", "txt", "consult", "miscellaneous"];

      var attribute_template_source ='<a class="{{attribute_class}} item">{{attribute_text}}<div class="ui label"></div></a>';
      var attribute_template = Handlebars.compile(attribute_template_source);
      var render_attributes = function(target_menu_name, attributes){
        $.each(attributes, function(attribute_index, attribute){
          var attribute_class = target_menu_name + "-" + attribute_index;
          var attribute_text = attribute;
          var context = {attribute_class: attribute_class, attribute_text: attribute_text};
          var $attribute_element = $(attribute_template(context));
          $("#" + target_menu_name + " .content .menu").append($attribute_element);
        });
      }
      render_attributes("categories", categories);
      render_attributes("types", types);
      render_attributes("phases", phases);
      render_attributes("licenses", licenses);
      render_attributes("tools", tools);
      render_attributes("tags", tags);

      var csv_api_source = 'https://ethercalc.org/_/g0v-project-hub-mockup/csv';

      $.get(csv_api_source).pipe(CSV.parse).done().then(function(){
        //-$(".ui.dropdown").dropdown();
        $(".ui.accordion").accordion();
      });

    });
